<div class="row">
    <div class="col-md-4 mb-4" *ngFor="let buhoClass of buhoClases">
        <div class="card text-center">
            <div class="card-header bg-dark text-white d-flex justify-content-between align-items-center">
                {{buhoClass.title}}
                <button *ngIf="authService.getLogIn()" class="btn btn-danger" (click)="deleteBuhoClass(buhoClass.id)">
                    <i class="far fa-trash-alt"></i>
                </button>
            </div>
            <img src="{{buhoClass.image}}" class="card-img-top">
            <div class="card-body">
                <p>{{buhoClass.description}}</p>
                <a *ngIf="authService.getLogIn()" [routerLink]="['/clases/edit',buhoClass.id]" class="btn btn-info btn-block">
                    EDITAR CLASE
                </a>
            </div>
        </div>
    </div>
</div>