<div class="container">
    <div class="row">
        <div *ngFor="let item of Info">
            <ng-container [ngSwitch]="item.tipo">
                <div *ngSwitchCase="'card'" class="col-md-6 mx-auto mb-3">
                    <div class="card">
                        <div class="d-flex justify-content-center">
                            <img [src]="'/assets/ElBuhoEnsenadotcom.jpg'" class="card-img-top img-resizable"
                                alt="Logo de El Buho Enseña">
                        </div>
                        <div class="card-body">
                            <h4 class="card-title">{{item.titulo}}</h4>
                            <p class="card-text">{{item.descripcion}}</p>
                            <a href="/" class="btn btn-primary">Explora nuestras clases</a>
                        </div>
                    </div>
                </div>
                <div *ngSwitchCase="'p'">
                    <h4>{{item.titulo}}</h4>
                    <p style="text-align: justify;">{{item.descripcion}}</p>
                </div>
                <ul *ngSwitchCase="'list'">
                    <li *ngFor="let n of item.lista">
                        <strong>{{n.titulo}}</strong>: {{n.descripcion}}
                    </li>
                </ul>
            </ng-container>
        </div>
    </div>
</div>