<div class="container">
    <div class="row">
        <div class="col-md-6 mx-auto">
            <div class="card">
                <div class="d-flex justify-content-center">
                    <img [src]="'/assets/ElBuhoEnsenadotcom.jpg'" class="card-img-top img-resizable"
                        alt="Logo de El Buho Enseña">
                </div>
                <div class="card-body">
                    <h4 class="card-title">Quiénes somos</h4>
                    <p class="card-text">Somos un equipo apasionado por la educación y comprometido con tu éxito
                        académico. Nuestro centro de nivelación y consultoría académica está dedicado a proporcionar el
                        apoyo necesario para que estudiantes de todas las edades alcancen su máximo potencial y superen
                        los desafíos educativos.</p>
                    <a href="/" class="btn btn-primary">Explora nuestras clases</a>
                </div>
            </div>
        </div>
        <div class="mt-5">
            <h4>Nuestra Misión</h4>
            <p style="text-align: justify;">Nuestra misión es ofrecer servicios de alta calidad en nivelación académica
                y orientación educativa. Nos
                especializamos en identificar las necesidades individuales de cada estudiante y diseñar estrategias
                personalizadas que faciliten el aprendizaje y mejoren el rendimiento académico. Creemos que cada
                estudiante tiene un potencial único, y estamos aquí para ayudarles a desarrollarlo al máximo.</p>

            <h4>Nuestro Enfoque</h4>
            <p style="text-align: justify;">En <strong>El Buho Enseña</strong>, adoptamos un enfoque integral y
                personalizado. Nuestro equipo
                está compuesto por expertos en diversas áreas del conocimiento, que trabajan en conjunto para ofrecer:
            </p>
            <ul>
                <li><strong>Nivelación Académica:</strong> Cursos y sesiones de apoyo para estudiantes que necesitan
                    reforzar conceptos y habilidades en diferentes materias.</li>
                <li><strong>Consultoría Académica:</strong> Asesoramiento y estrategias para planificar el camino
                    educativo, incluyendo orientación en la elección de carreras y programas académicos.</li>
                <li><strong>Desarrollo de Habilidades:</strong> Actividades diseñadas para mejorar
                    habilidades críticas como el pensamiento crítico, la resolución de problemas y la gestión del
                    tiempo.</li>
            </ul>

            <h4> Nuestro Equipo</h4>
            <p style="text-align: justify;">Contamos con un equipo de profesionales altamente cualificados y dedicados,
                con amplia experiencia en la
                educación y la consultoría académica. Nuestro personal está comprometido a proporcionar un entorno de
                aprendizaje positivo y motivador, adaptado a las necesidades individuales de cada estudiante.</p>

            <h4>¿Por Qué Elegirnos?</h4>
            <p style="text-align: justify;">No solo nos enfocamos en mejorar el rendimiento académico, sino
                también en fomentar una actitud positiva hacia el aprendizaje. Trabajamos de la mano con estudiantes y
                familias para asegurar que cada persona reciba el apoyo y las herramientas necesarias para alcanzar sus
                metas académicas.</p>

            <p>Te invitamos a conocernos mejor y descubrir cómo podemos ayudarte a alcanzar tus objetivos
                educativos.<strong>Tu éxito académico es nuestra mayor recompensa</strong>.</p>
        </div>

    </div>
</div>